<section class="my-6">
  <p class="mb-2 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400">Responsive Design</p>
  <div class="flex-col items-center">
    <h1 class="inline-block text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">
      Layouts</h1>
    <p class="mt-2 text-lg text-slate-700 dark:text-slate-400  my-2">Flexible layouts for any screen size; when to use
      flex and when to use grid</p>
    <ul>
      <li>• Simple Flex && Grid <a href="https://codepen.io/Turtleguyy/pen/GRJzLvG">(Turtleguyy's Demo)</a></li>
      <li>• card demo, in a flex row</li>
      <li>• Responsive Flexbox Demo row shifting to column with TW MQ</li>
      <li>• Grid for footer and sticky header and different sized content sections and sidebar</li>
      <li><a href="https://css-tricks.com/snippets/css/complete-guide-grid/#aa-grid-template-areas">Grid Layout
          Example</a></li>
      <li>• Make Grid layout responsive using TW MQ</li>
    </ul>
  </div>
</section>

<section class="my-6">

  <p class="mb-2 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400">Flexbox &amp; Grid</p>
  <div class="flex items-center">
    <h1 class="inline-block text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">
      Align Items</h1>

  </div>
  <p class="mt-2 text-lg text-slate-700 dark:text-slate-400">Utilities for controlling how flex and grid items are
    positioned along a container's cross axis.</p>
  <div class="mt-10 relative">
    <h2 class="group flex whitespace-pre-wrap relative scroll-mt-[var(--scroll-mt)] -ml-4 pl-4" id="class-reference">
      <a href="#class-reference" class="absolute -ml-10 flex items-center opacity-0 border-0 group-hover:opacity-100"
        aria-label="Anchor">&ZeroWidthSpace;<div
          class="w-6 h-6 text-slate-400 ring-1 ring-slate-900/5 rounded-md shadow-sm flex items-center justify-center hover:ring-slate-900/10 hover:shadow hover:text-slate-700 dark:bg-slate-700 dark:text-slate-300 dark:shadow-none dark:ring-0">
          <svg width="12" height="12" fill="none" aria-hidden="true">
            <path d="M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round"></path>
          </svg>
        </div></a><span><span class="sr-only">Quick reference</span></span>
    </h2>
    <div
      class="overflow-hidden lg:overflow-auto scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 scrollbar-track:!rounded dark:scrollbar-track:!bg-slate-500/[0.16] dark:scrollbar-thumb:!bg-slate-500/50">
      <table class="w-full text-left border-collapse">
        <thead>
          <tr>
            <th
              class="sticky z-10 top-0 text-sm leading-6 font-semibold text-slate-700 bg-white p-0 dark:bg-slate-900 dark:text-slate-300">
              <div class="py-2 pr-2 border-b border-slate-200 dark:border-slate-400/20">Class</div>
            </th>
            <th
              class="sticky z-10 top-0 text-sm leading-6 font-semibold text-slate-700 bg-white p-0 dark:bg-slate-900 dark:text-slate-300">
              <div class="py-2 pl-2 border-b border-slate-200 dark:border-slate-400/20">Properties</div>
            </th>
          </tr>
        </thead>
        <tbody class="align-baseline">
          <tr>
            <td translate="no"
              class="py-2 pr-2 font-mono font-medium text-xs leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400">
              items-start</td>
            <td translate="no"
              class="py-2 pl-2 font-mono text-xs leading-6 text-indigo-600 whitespace-pre dark:text-indigo-300">
              align-items: flex-start;
            </td>
          </tr>
          <tr>
            <td translate="no"
              class="py-2 pr-2 font-mono font-medium text-xs leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400 border-t border-slate-100 dark:border-slate-400/10">
              items-end</td>
            <td translate="no"
              class="py-2 pl-2 font-mono text-xs leading-6 text-indigo-600 whitespace-pre dark:text-indigo-300 border-t border-slate-100 dark:border-slate-400/10">
              align-items: flex-end;
            </td>
          </tr>
          <tr>
            <td translate="no"
              class="py-2 pr-2 font-mono font-medium text-xs leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400 border-t border-slate-100 dark:border-slate-400/10">
              items-center</td>
            <td translate="no"
              class="py-2 pl-2 font-mono text-xs leading-6 text-indigo-600 whitespace-pre dark:text-indigo-300 border-t border-slate-100 dark:border-slate-400/10">
              align-items: center;
            </td>
          </tr>
          <tr>
            <td translate="no"
              class="py-2 pr-2 font-mono font-medium text-xs leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400 border-t border-slate-100 dark:border-slate-400/10">
              items-baseline</td>
            <td translate="no"
              class="py-2 pl-2 font-mono text-xs leading-6 text-indigo-600 whitespace-pre dark:text-indigo-300 border-t border-slate-100 dark:border-slate-400/10">
              align-items: baseline;
            </td>
          </tr>
          <tr>
            <td translate="no"
              class="py-2 pr-2 font-mono font-medium text-xs leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400 border-t border-slate-100 dark:border-slate-400/10">
              items-stretch</td>
            <td translate="no"
              class="py-2 pl-2 font-mono text-xs leading-6 text-indigo-600 whitespace-pre dark:text-indigo-300 border-t border-slate-100 dark:border-slate-400/10">
              align-items: stretch;
            </td>
          </tr>
        </tbody>
      </table>
      <div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>
    </div>
  </div>
</section>