<h1 class="text-3xl font-bold underline my-5">
  Welcome Friends!
</h1>
<h2 class="text-2xl font-light my-5">
  Let's learn Tailwind CSS
</h2>

<div class="text-xs flex whitespace-nowrap overflow-clip">
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
</div>

<div class="flex flex-col sm:flex-row gap-5 my-5">

  <p class="text-lg">I cannot wait to meet you all! This conference is my all time favorite and I am so humbled to get to
    teach you all some UI skills.</p>
  <p class="text-lg">I have gone ahead and done the installing and config bits needed to use Tailwind within Angular.
    Checkout the docs to see the steps I took:

    <a class="font-bold italic hover:underline" href="https://tailwindcss.com/docs/guides/angular" target="_blank">Getting Started with Tailwind
      CSS in Angular</a>.
  </p>
</div>

<button class="my-10 py-2 px-3 text-xl">
  Let's Get Started
</button>

<button class="bg-slate-700 text-white py-2 px-3 text-xl mx-4 print:hidden" onclick="window.print()">
  Print
</button>