<!-- I used what we have learned in this section to create two real life examples. Attempt to add one more interaction to this page using modifiers, transitions, and animations. Best one wins an amazon giftcard. -->
<header class="grid grid-cols-2 gap-x-5 items-end">

  <img src="assets/azalea.png" alt="azalea flower logo" class="max-w-[100px] px-3 py-2">

  <nav class="flex justify-center space-x-4">
    <a href="/dashboard"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 hover:animate-pulse transition-colors">Home</a>
    <a href="/team"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 hover:animate-pulse transition-colors">Team</a>
    <a href="/projects"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 hover:animate-pulse transition-colors">Projects</a>
    <a href="/reports"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 hover:animate-pulse transition-colors">Reports</a>
  </nav>
</header>

<main class="max-w-3xl mx-auto pt-10 xl:max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-16">
  <filler-content></filler-content>
  <div class="arrow fixed bottom-0 right-5 w-8 h-8 bg-purple-500 border border-slate-500 text-center leading-8 rounded text-white animate-bounce transition-opacity cursor-pointer" (click)="scrollDown()">↓
  </div>
</main>

<!-- prompt: let's stick the footer to the bottom no matter how little content there is on a page -->
<!-- clue: the body is already position relative -->
<!-- answer:  absolute bottom-0 w-full-->
<footer class="text-sm leading-6 mt-12 w-full">
  <div class="mb-10 text-slate-700 font-semibold flex items-center dark:text-slate-200"><a
      class="group flex items-center hover:text-slate-900 dark:hover:text-white" href="/"><svg
        viewBox="0 0 3 6"
        class="mr-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300">
        <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>Previous Lesson on Basics</a><a class="group ml-auto flex items-center hover:text-slate-900 dark:hover:text-white"
      href="/">Next Lesson<svg viewBox="0 0 3 6"
        class="ml-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300">
        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg></a></div>
  <div class="pt-10 pb-28 border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
    <div class="mb-6 sm:mb-0 sm:flex">
      <p>Copyright © 2022 Alyssa loves UI.</p>
      <p class="sm:ml-4 sm:pl-4 sm:border-l sm:border-slate-200 dark:sm:border-slate-200/5"><a
          class="hover:text-slate-900 dark:hover:bg-pink-500" href="https://twitter.com/alyssanicoll">Twitter DM is Always Open</a></p>
    </div><a class="hover:text-slate-900 dark:hover:bg-pink-500"
      href="https://github.com/alyssamichelle/tailwindcss-angular-workshop">Edit this code
      on GitHub</a>
  </div>
</footer>