<!-- Prompt: style the header so that our escape hatch is always on the left and our nav is always on the right (no matter the screen size) with a growing/shrinking middle gap -->
<!-- Hint: It's grid time. -->

<header class="grid grid-cols-2 items-end">

  <img src="assets/azalea.png" alt="azalea flower logo" class="max-w-[100px] px-3 py-2">

  <nav class="flex flex-wrap justify-start">
    <a href="/dashboard"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
    <a href="/team"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Team</a>
    <a href="/projects"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Projects</a>
    <a href="/reports"
      class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Reports</a>
  </nav>
</header>

<main class="max-w-3xl mx-auto pt-10 xl:ml-0">
  <!-- <filler-content></filler-content> -->
</main>

<footer class="text-sm leading-6 mt-12">
  <div class="mb-10 text-slate-700 font-semibold flex items-center dark:text-slate-200"><a
      class="group flex items-center hover:text-slate-900 dark:hover:text-white" href="/"><svg viewBox="0 0 3 6"
        class="mr-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300">
        <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>Previous Lesson on Basics</a><a
      class="group ml-auto flex items-center hover:text-slate-900 dark:hover:text-white" href="/">Next Lesson<svg
        viewBox="0 0 3 6"
        class="ml-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300">
        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg></a></div>
  <div class="pt-10 pb-28 border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
    <div class="mb-6 sm:mb-0 sm:flex">
      <p>Copyright © 2022 Alyssa loves UI.</p>
      <p class="sm:ml-4 sm:pl-4 sm:border-l sm:border-slate-200 dark:sm:border-slate-200/5"><a
          class="hover:text-slate-900 dark:hover:bg-pink-500" href="https://twitter.com/alyssanicoll">Twitter DM is
          Always Open</a></p>
    </div><a class="hover:text-slate-900 dark:hover:bg-pink-500"
      href="https://github.com/alyssamichelle/tailwindcss-angular-workshop">Edit this code
      on GitHub</a>
  </div>
</footer>