<h1 class="capitalize text-4xl mb-10 font-thin">combining hover state knowledge & arbitrary values</h1>

<main class="flex flex-wrap gap-5 items-start">
  <section class="flex-col gap-5 p-10 bg-slate-100" aria-labelledby="section-header-0">
    <h1 id="section-header-0" class="text-3xl mb-4 font-light">Without Tailwind</h1>
    <p>The anchors from the Tailwind CSS Docs. 👇</p>
    <!-- prompt: give both anchors some spacing away from the paragraph -->
    <a class="tw-doc-anchor">Pseudo-classes</a>
  </section>

  <!-- prompt: side-by-side the CSS and try to mimic the tailwind docs anchor but actually using tailwind to do so. lolz -->
  <section class="flex-col gap-5 p-10 bg-red-100" aria-labelledby="section-header-1">
    <h1 id="section-header-1" class="text-3xl mb-4 font-light">With Tailwind</h1>
    <p>Let's implement these anchor styles now, using tailwind!</p>
    <a>Pseudo-classes</a>
  </section>
</main>