<h1 class="text-3xl font-bold underline my-5">
  Welcome to ng-conf!
</h1>
<h2 class="text-2xl font-light my-5">
  Let's learn Tailwind CSS
</h2>

<!-- At any screen size, I need to just one row of ascii kitty cats -->
<!-- clue: one possible way of solving this whitespace-nowrap overflow-clip -->
<div class="text-xs">=^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= </div>

<!-- My font size is too small. -->
<!-- clue: check out the other paragraph -->
<p class="my-5">I cannot wait to meet you all! This conference is my all time favorite and I am so humbled to get to
  teach you all some UI skills.</p>
<p class="text-lg">I have gone ahead and done the installing and config bits needed to use Tailwind within Angular.
  Checkout the docs to see the steps I took:

  <!-- I need a hover state and to be italic! -->
  <a class="underline" href="https://tailwindcss.com/docs/guides/angular" target="_blank">Getting Started with Tailwind
    CSS in Angular</a>.
</p>

<!-- I need a light purple bg and some space from my siblings. -->
<!-- clue: try these classes bg-purple-100 text-purple-700 -->
<button class="py-2 px-3 text-purple-500 text-xl">Let's Get Started</button>