<h1 class="text-3xl">
  Directives in Tailwind CSS
</h1>
<div class="text-xs flex whitespace-nowrap overflow-clip my-8">=^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^=
  =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= =^..^= </div>


<p class="my-5">Guess what?! You have already been using two of Tailwind's Directives this whole time! Directives in Tailwind are <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule">CSS at rules</a> (starting with an `@`). These tell CSS how to behave. <code>`@charset`</code>,<code>`@import`</code>,<code>`@namespace`</code> are three built into CSS. Here is the list of available Tailwind CSS Directives:</p>

<div class="container my-10 flex gap-5 flex-wrap">
  <div class="bg-slate-100 rounded-lg p-6 shadow-xl hover:bg-slate-200 hover:animate-pulse active:shadow-none transition-shadow duration-500">
    <code>@tailwind</code>
  </div>

  <!-- make one of the cards have larger padding than the rest. -->
  <div class="bg-slate-100 rounded-lg p-6 shadow-xl hover:bg-slate-200 hover:animate-pulse active:shadow-none transition-shadow duration-500">
    <code>@apply</code>
  </div>
  <div class="bg-slate-100 rounded-lg p-6 shadow-xl hover:bg-slate-200 hover:animate-pulse active:shadow-none transition-shadow duration-500">
    <code>@layer</code>
  </div>
</div>

